# EditorConfig is awesome: https://EditorConfig.org
# top-most EditorConfig file
root = true

[*]
# Set default charset
charset = utf-8
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
[*.{c,h,y,l}]
indent_size  = 4
indent_style = space

[Makefile]
indent_style = tab
