name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: fedora-latest

    steps:
    - uses: actions/checkout@v3
    - name: make test
      run: make -C src test
